annotated-types
asttokens
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
comm
confection
contourpy
cycler
cymem
debugpy
decorator
# en-core-web-sm
executing
fonttools
idna
install
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
langcodes
language_data
marisa-trie
MarkupSafe
matplotlib
matplotlib-inline
murmurhash
nest-asyncio
nltk
numpy
packaging
pandas
parso
pillow
pip
platformdirs
preshed
prompt-toolkit
psutil
pure-eval
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
pytz
# pywin32
pyzmq
regex
requests
scipy
setuptools
six
smart-open
spacy-legacy
spacy-loggers
srsly
stack-data
textblob
thinc
tornado
tqdm
traitlets
typer
typing_extensions
tzdata
urllib3
wasabi
wcwidth
weasel
