asttokens
click
colorama
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
nltk
numpy
packaging
pandas
parso
pillow
pip
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
regex
scipy
six
stack-data
textblob
tornado
tqdm
traitlets
tzdata
wcwidth
